*,
*::before,
*::after {
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding: 0;
}

.container { 
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
}

.header-title {
    border-bottom: 1px solid #e7e9fc;
}

.header-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu {
    display:block;
    padding: 24px 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    padding-left: 76px;
    display: flex;
    gap: 40px;
}

.logo {
    display: block;
    padding: 24px 0;
    margin-right: 76px;
}

.header-sys {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
}

.header-address {
    display: flex;
    gap: 40px;
}

.header-menu:hover,
.header-menu:focus {
    color:#404bbf;
}

.address {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-mail {
    display: block;
    padding: 24px 0;
}

.address-mail:hover,
.address-mail:focus {
    color: #404bbf;
}

.address-tel:hover,
.address-tel:focus {
    color: #404bbf;
}

.address-mail {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}

.address-tel {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.dark-logo {
    color: #2e2f42;
    line-height: 1.17;
}

/* ---------------------HEADER--------------------------- */

body{ 
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
            "wdth" 400,500,700;
            color: #434455;
            background-color:#FFFFFF;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    border: none;
}

.button:hover,
.button:focus {
    color: #ffffff;
    background-color: #404BBF;
    cursor: pointer;
}

.master-section {
}

.service {
    padding: 188px 0;
    width: 496px;
    margin: 0 auto;
}

.master {
    margin-bottom: 48px;
}

.button {
    gap: 10px;
border-radius: 4px;
    padding: 16px 29px;
    text-align: center;
    align-items: center;
    width: 169px;
    height: 56px;
    margin-left: 164px;
    margin-right: 163px;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.master-features {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.master-hero-list {
    display: flex;
    width: 1128px;
    margin: 120px auto;
    gap: 24px;
}

.section-team {
    background-color: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
}

.section-team {
    padding-bottom: 120px;
}

.list-team {
    background-color: #FFFFFF;
}

.list-team {
    width: calc((100% - 72px) / 4);
}

.team {
    text-align: center;
}

.master-team {
    margin-bottom: 72px;
    margin-top: 240px;
}

.master-team-list {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 72px;
    row-gap: 48px;
}

.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.portflio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.team-text {
padding: 32px 16px;
}

.master {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
}
/* navy blue */
.master-section {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        background-color: #2e2f42;
}

.master-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.master-team-list {
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            text-transform: capitalize;
}

.master-team-text {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.hero-features {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.master-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.master-portfolio {
    margin-bottom: 8px;
}

/* ----------------FOOTER----------------- */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.white-logo-footer {
        color: #f4f4fd;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.paragraph-footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.footer {
    height: 312px;
}


.logo-footer {
    padding-top: 16px;
    padding-bottom: 16px;
    display: inline-block;
    margin-bottom: 16px;
}

.paragraph-footer {
    
    max-width: 264px;
}